<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Información de Vehículos</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal">Agregar Vehículo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="vehiculos.length > 0; else listaVacia">
    <ion-item *ngFor="let vehiculo of vehiculos">
      <ion-label> 
        Id: {{vehiculo.id}} || {{vehiculo.marca}} {{vehiculo.modelo}} || Patente: {{vehiculo.patente}}
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #listaVacia>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <ion-text color="medium">
          <h2>No hay vehículos disponibles.</h2>
        </ion-text>
      </ion-label>
    </ion-item>
  </ng-template>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar> 
          <ion-buttons slot="start">
            <ion-button (click)="cancelar()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Nuevo Vehículo</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="agregarVehiculo(nuevo_vehiculo)" [strong]="true">Agregar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Patente" type="text" placeholder="Patente" [(ngModel)]="nuevo_vehiculo.patente"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="ID Conductor" type="text" placeholder="ID Conductor" [(ngModel)]="nuevo_vehiculo.id_conductor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Marca" type="text" placeholder="Marca" [(ngModel)]="nuevo_vehiculo.marca"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Modelo" type="text" placeholder="Modelo" [(ngModel)]="nuevo_vehiculo.modelo"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>



