<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="['/login']"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Pedidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Solicitudes Cancelados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="solicitudesRechazadas.length === 0">No hay solicitudes canceladas</p>
      <ion-list *ngIf="solicitudesRechazadas.length > 0">
        <ion-item *ngFor="let solicitud of solicitudesRechazadas">
          <ion-label>
            <p><strong>Usuario:</strong> {{ solicitud.nombre_usuario }}</p>
            <p><strong>Monto Total:</strong> {{ solicitud.monto_total | currency }}</p>
            <p><strong>Fecha:</strong> {{ solicitud.hora_ini }}</p>
            <p><strong>Detalle:</strong> {{ solicitud.detalle_pedido }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pedidos Entregados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="pedidosEntregados.length === 0">No hay pedidos entregados</p>
      <ion-list *ngIf="pedidosEntregados.length > 0">
        <ion-item *ngFor="let pedido of pedidosEntregados">
          <ion-label>
            <p><strong>Usuario:</strong> {{ pedido.nombre_usuario }}</p>
            <p><strong>Monto Total:</strong> {{ pedido.monto_total | currency }}</p>
            <p><strong>Fecha:</strong> {{ pedido.hora_ini }}</p>
            <p><strong>Detalle:</strong> {{ pedido.detalle_pedido }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Pedidos Cancelados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="pedidosCancelados.length === 0">No hay pedidos cancelados</p>
      <ion-list *ngIf="pedidosCancelados.length > 0">
        <ion-item *ngFor="let pedido of pedidosCancelados">
          <ion-label>
            <p><strong>Usuario:</strong> {{ pedido.nombre_usuario }}</p>
            <p><strong>Monto Total:</strong> {{ pedido.monto_total | currency }}</p>
            <p><strong>Fecha:</strong> {{ pedido.hora_ini }}</p>
            <p><strong>Detalle:</strong> {{ pedido.detalle_pedido }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
