<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil distribuidora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="contenedor_body">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información del admin de la distribuidorar</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Nombre:</strong></p>
        <p><strong>Correo:</strong> </p>
        <p><strong>Número Telefónico:</strong> </p>
        <p><strong>Dirección:</strong></p>
      </ion-card-content>
    </ion-card>
  <br>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Información admin</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>Nombre:</strong> {{ nombre }} {{ apellido }}</p>
        <p><strong>Correo:</strong> {{ correo }}</p>
        <p><strong>Número Telefónico:</strong> {{ numTelefonico }}</p>
        <p><strong>Dirección:</strong> {{ direccion }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
