<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalle Solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="solicitudForm">
    <ion-list>
      <ion-item>
        <ion-label>ID: </ion-label>
        <ion-input formControlName="id" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Monto Total: </ion-label>
        <ion-input formControlName="monto_total"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Usuario: </ion-label>
        <ion-input formControlName="nombre_usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Dirección: </ion-label>
        <ion-input formControlName="direccion_entrega"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Metodo de pago: </ion-label>
        <ion-input formControlName="metodo_pago"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Num Telefonico: </ion-label>
        <ion-input formControlName="numtelefonico"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Hora Inicio: </ion-label>
        <ion-input formControlName="hora_ini"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Detalle Solicitud: </ion-label>
        <ion-input formControlName="detalle_solicitud"></ion-input>
      </ion-item>


    </ion-list>
  </form>

  <ion-button (click)="crearPedido()">Aceptar</ion-button>
  <ion-button (click)="CancelarSolicitud()">Rechazar</ion-button>

</ion-content>

