<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle Solicitud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="solicitudForm">
    <ion-list>
      <ion-item>
        <ion-label>ID: </ion-label>
        <ion-input formControlName="id" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="monto_total">monto total:</ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="nombre_usuario">Usuario:</ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="direccion_entrega">Direccion:</ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="metodo_pago">Metodo de pago:</ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="numtelefonico">Telefono</ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="hora_ini">Hora inicio</ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="detalle_solicitud">Detalle Solicitud</ion-input>
      </ion-item>


    </ion-list>
  </form>

  <div id="map" style="width: 100%; height: 300px; margin-top: 10px;"></div>

  <ion-button *ngIf="rol === 'distribuidora'" (click)="crearPedido()">Aceptar</ion-button>
  <ion-button (click)="CancelarSolicitud()">Rechazar</ion-button>

</ion-content>

