<ion-header>
  <ion-toolbar>
    <!-- Botón del menú deslizante -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Menú deslizante -->
<ion-menu class="contenedor_menu" content-id="main-content">
  <ion-header>
    <ion-toolbar style="--background:#354f52 ; --color: #cad2c5;">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="--background:#52796f ; --color:#354f52 ;">
    <ion-list style="--ion-item-background:#52796f;">
      <!-- Opciones para el rol "usuario" -->
      <ion-item *ngIf="rol === 'usuario'">
        <ion-button (click)="irAPerfilUser()" class="boton-menu" [routerLink]="['/cuenta-usuario']">Perfil</ion-button>
      </ion-item>
      <ion-item *ngIf="rol === 'usuario'">
        <ion-button (click)="irAHistorialPedidos()" class="boton-menu" [routerLink]="['/historial-pedidos']">Historial Compras</ion-button>
      </ion-item>
      <ion-item *ngIf="rol === 'usuario'">
        <ion-button (click)="irARealizarPedidos()" class="boton-menu" [routerLink]="['/realizar-pedido']">Realizar pedido</ion-button>
      </ion-item>

      <!-- Opciones para el rol "repartidor" -->
      <ion-item *ngIf="rol === 'repartidor'">
        <ion-button (click)="irAPerfilRepartidor()" class="boton-menu" [routerLink]="['/cuenta-repartidor']">Perfil</ion-button>
      </ion-item>
      <ion-item *ngIf="rol === 'repartidor'">
        <ion-button (click)="irAHistorialEntregas()" class="boton-menu" [routerLink]="['/historial-entregas']">Historial de entregas</ion-button>
      </ion-item>

      <!-- Opciones para el rol "distribuidora" -->
      <ion-item *ngIf="rol === 'distribuidora'">
        <ion-button (click)="irAPerfilDistribuidora()" class="boton-menu" [routerLink]="['/cuenta-distribuidora']">Info Distribuidora</ion-button>
      </ion-item>
      <ion-item *ngIf="rol === 'distribuidora'">
        <ion-button (click)="irAGestionarProductos()" class="boton-menu" [routerLink]="['/gestionar-productos']">Gestionar productos</ion-button>
      </ion-item>
      <ion-item *ngIf="rol === 'distribuidora'">
        <ion-button (click)="irAHistorialVentas()" class="boton-menu" [routerLink]="['/historial-ventas']">Historial ventas</ion-button>
      </ion-item>
      <ion-item>
        <ion-button (click)="cerrarSesion()">Cerrar Sesión</ion-button>
      </ion-item>      
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<ion-content id="main-content" padding>
  <h1 class="h1_a">Bienvenido, {{ username }}</h1>

<!-- Gets de rol usuario-->

<ion-card *ngIf="rol === 'usuario'">
  <ion-card-header>
    <ion-card-title>Pedidos en espera</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p *ngIf="solicitudesEnEspera.length === 0">No hay pedidos en espera</p>
    <div  *ngIf="solicitudesEnEspera.length > 0">
      <ion-item class="item-soli" *ngFor="let solicitud of solicitudesEnEspera">
        <ion-label>
          <p><strong>Usuario:</strong> {{ solicitud.nombre_usuario }}</p>
          <p><strong>Monto Total:</strong> {{ solicitud.monto_total | currency }}</p>
        </ion-label>
        <ion-button class="button-detalle" (click)="irADetalleSolicitud(solicitud)">
          Ver detalle
        </ion-button>
      </ion-item>
    </div>
  </ion-card-content>
</ion-card>


<br>

<ion-card *ngIf="rol === 'usuario'">
  <ion-card-header>
    <ion-card-title>Pedidos en Camino</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p *ngIf="pedidosEnCamino.length === 0">No hay pedidos en camino</p>
    <ion-list *ngIf="pedidosEnCamino.length > 0">
      <ion-item class="item-soli" *ngFor="let pedido of pedidosEnCamino">
        <ion-label>
          <p><strong>Usuario:</strong> {{ pedido.nombre_usuario }}</p>
          <p><strong>Monto Total:</strong> {{ pedido.monto_total | currency }}</p>
        </ion-label>
        <ion-button  class="button-detalle" (click)="irABoleta(pedido)" >
          Ver detalle
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>


<br>
<!-- Gets de rol repartidor-->
<ion-card *ngIf="rol === 'repartidor'">
  <ion-card-header>
    <ion-card-title>Entregas en proceso</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p *ngIf="pedidosEnCamino.length === 0">No hay entregas en proceso</p>
    <ion-list *ngIf="pedidosEnCamino.length > 0">
      <ion-item  class="item-soli"*ngFor="let pedido of pedidosEnCamino">
        <ion-label>
          <p><strong>Usuario:</strong> {{ pedido.nombre_usuario }}</p>
          <p><strong>Monto Total:</strong> {{ pedido.monto_total | currency }}</p>
        </ion-label>
        <ion-button class="button-detalle" (click)="irABoleta(pedido)">
          Ver detalle
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<br>

<ion-card *ngIf="rol === 'repartidor'">
  <ion-card-header>
    <ion-card-title>Pedidos nuevos</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p *ngIf="pedidosEnEspera.length === 0">No hay nuevos pedidos</p>
    <ion-list *ngIf="pedidosEnEspera.length > 0">
      <ion-item class="item-soli" *ngFor="let pedido of pedidosEnEspera">
        <ion-label>
          <p><strong>Usuario:</strong> {{ pedido.nombre_usuario }}</p>
          <p><strong>Monto Total:</strong> {{ pedido.monto_total | currency }}</p>
        </ion-label>
        <ion-button class="button-detalle" (click)="irADetallePedido(pedido)">
          Ver detalle
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<!-- GEts para rol distribuidora-->
<ion-card *ngIf="rol === 'distribuidora'">
  <ion-card-header>
    <ion-card-title>Entregas en proceso</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p *ngIf="pedidosEnCamino.length === 0">No hay entregas en proceso</p>
    <ion-list *ngIf="pedidosEnCamino.length > 0">
      <ion-item class="item-soli" *ngFor="let pedido of pedidosEnCamino">
        <ion-label>
          <p><strong>Usuario:</strong> {{ pedido.nombre_usuario }}</p>
          <p><strong>Monto Total:</strong> {{ pedido.monto_total | currency }}</p>
        </ion-label>
        <ion-button class="button-detalle" (click)="irABoleta(pedido)">
          Ver detalle
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<br>

<ion-card *ngIf="rol === 'distribuidora'">
  <ion-card-header>
    <ion-card-title>Solicitudes pendientes</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p *ngIf="solicitudesEnEspera.length === 0">No hay solicitudes pendientes</p>
    <ion-list *ngIf="solicitudesEnEspera.length > 0">
      <ion-item class="item-soli"  *ngFor="let solicitud of solicitudesEnEspera">
        <ion-label>
          <p><strong>Usuario:</strong> {{ solicitud.nombre_usuario }}</p>
          <p><strong>Monto Total:</strong> {{ solicitud.monto_total | currency }}</p>
        </ion-label>
        <ion-button class="button-detalle" (click)="irADetalleSolicitud(solicitud)">
          Ver detalle
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<br>

</ion-content>
