<ion-header>
  <ion-toolbar>
    <!-- Botón del menú deslizante -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Menú deslizante -->
<ion-menu class="contenedor_menu" content-id="main-content">
  <ion-header>
    <ion-toolbar style="--background:#354f52 ; --color: #cad2c5;">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="--background:#52796f ; --color:#354f52 ;">
    <ion-list style="--ion-item-background:#52796f  ;">
      <!-- Opciones para el rol "usuario" -->
      <ion-item  *ngIf="rol === 'usuario'">
        <ion-button (click)="irAPerfilUser()"  [routerLink]="['/cuenta-usuario']">Perfil</ion-button>
      </ion-item>
      <ion-item *ngIf="rol === 'usuario'">
        <ion-button (click)="irAHistorialPedidos()" [routerLink]="['/historial-pedidos']">Historial Compras</ion-button>
      </ion-item>
      <ion-item *ngIf="rol === 'usuario'">
        <ion-button (click)="irARealizarPedidos()" [routerLink]="['/realizar-pedido']">Realizar pedido</ion-button>
      </ion-item>

      <!-- Opciones para el rol "repartidor" -->
      <ion-item *ngIf="rol === 'Repartidor'">
        <ion-button (click)="irAPerfilRepartidor()" [routerLink]="['/cuenta-repartidor']">Perfil</ion-button>
      </ion-item>
      <ion-item *ngIf="rol === 'Repartidor'">
        <ion-button (click)="irAInformacionVehiculo()" [routerLink]="['/informacion-vehiculo']">Informacion Vehiculo</ion-button>
      </ion-item>
      <ion-item *ngIf="rol === 'Repartidor'">
        <ion-button (click)="irAHistorialEntregas()"  [routerLink]="['/historial-entregas']">Historial de entregas</ion-button>
      </ion-item>

      <!-- Opciones para el rol "distribuidora" -->
      <ion-item *ngIf="rol === 'Distribuidora'">
        <ion-button (click)="irAPerfilDistribuidora()" [routerLink]="['/cuenta-distribuidora']">Info Distribuidora</ion-button>
      </ion-item>
      <ion-item *ngIf="rol === 'Distribuidora'">
        <ion-button  (click)="irAGestionarProductos()" [routerLink]="['/gestionar-productos']">Gestionar productos</ion-button>
      </ion-item>
      <ion-item *ngIf="rol === 'Distribuidora'">
        <ion-button  (click)="irAHistorialVentas()" [routerLink]="['/historial-ventas']">Historial ventas</ion-button>
      </ion-item>
      <ion-item>
        <ion-button [routerLink]="['/login']">Cerrar Sesion</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Contenido principal -->
<ion-content id="main-content" padding>
  <h1 class="h1_a">Bienvenido, {{ username }}</h1>

  <!-- Card que muestra la información del usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información del Usuario</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Id:</strong> {{ id }}</p>
      <p><strong>Nombre:</strong> {{ Nombre }} {{ apellido }} </p>
      <p><strong>Correo:</strong> {{ Correo }}</p>
      <p><strong>Direccion:</strong>{{Direccion}}</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="rol === 'usuario'">
    <ion-card-header>
      <ion-card-title>Pedido en proceso</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>No hay pedidos en proceso </p>
    </ion-card-content>
  </ion-card>

<br>

  <ion-card *ngIf="rol === 'usuario'">
    <ion-card-header>
      <ion-card-title>Ultimo pedido</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>No ha realizado pedidos</p>
    </ion-card-content> 
  </ion-card>


  <ion-card *ngIf="rol === 'Repartidor'">
    <ion-card-header>
      <ion-card-title>Entregas pendientes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>No hay entregas pendientes</p>
    </ion-card-content>
  </ion-card>

<br>

  <ion-card *ngIf="rol === 'Repartidor'">
    <ion-card-header>
      <ion-card-title>Entregas en proceso</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>No hay entregas en proceso</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="rol === 'Distribuidora'">
    <ion-card-header>
      <ion-card-title>Solicitudes pendientes</ion-card-title>
      <ion-list>
        <ion-item *ngFor="let solicitud of solicitudes">
        </ion-item>
      </ion-list>
    </ion-card-header>
  </ion-card>

<br>

  <ion-card *ngIf="rol === 'Distribuidora'">
    <ion-card-header>
      <ion-card-title>Pedidos en proceso</ion-card-title>
      <ion-list>
        <ion-item *ngFor="let solicitud of solicitudes">
        </ion-item>
      </ion-list>
    </ion-card-header>
  </ion-card>
</ion-content>

