<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="['/login']"></ion-back-button>
    </ion-buttons>
    <ion-title>Realizar Pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal"> Realizar pedido </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Listar los productos obtenidos -->
  <ion-list *ngIf="productos.length > 0; else listaVacia">
    <ion-item *ngFor="let producto of productos">
      <ion-label>{{ producto.nombre }} {{ producto.kilos }}kg - ${{ producto.precio }}</ion-label>
      <ion-input
        type="number"
        [(ngModel)]="producto.cantidad"
        placeholder="Cantidad"
        (ionChange)="calcularTotal()"
      ></ion-input>
    </ion-item>
  </ion-list>

  <!-- Mostrar el total del pedido -->
  <ion-item>
    <ion-label>Total: </ion-label>
    <ion-text>${{ total }}</ion-text>
  </ion-item>

  <!-- Botón para realizar el pedido -->
  <ion-button expand="block" (click)="realizarPedido()">
    Realizar Pedido
  </ion-button>
</ion-content>

<ng-template #listaVacia>
  <ion-item>
    <ion-label>No hay productos disponibles.</ion-label>
  </ion-item>
</ng-template>

