ion-list{
    margin:0 ;
    padding: 0;
}

ion-item{
    --background: #cad2c5;
    color: black;
    border:10px;
}


h1{
    color:white;
    text-align: center;
}

ion-button{
    --background: #52796f;
    color: white;
}