<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="['/home']"></ion-back-button>
    </ion-buttons>
    <ion-title>Boleta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="pedidoForm">
    <ion-list>
      <ion-item>
        <ion-label>Monto Total: </ion-label>
        <ion-label>{{ pedidoForm.get('monto_total')?.value }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Usuario: </ion-label>
        <ion-label>{{ pedidoForm.get('nombre_usuario')?.value }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Dirección: </ion-label>
        <ion-label>{{ pedidoForm.get('direccion_entrega')?.value }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Método de pago: </ion-label>
        <ion-label>{{ pedidoForm.get('metodo_pago')?.value }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Num Telefónico: </ion-label>
        <ion-label>{{ pedidoForm.get('numtelefonico')?.value }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Hora Inicio: </ion-label>
        <ion-label>{{ pedidoForm.get('hora_ini')?.value }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Detalle Pedido: </ion-label>
        <ion-label>{{ pedidoForm.get('detalle_pedido')?.value }}</ion-label>
      </ion-item>
    </ion-list>
    

    <ion-list>
      <ion-item>
        <ion-label>Nombre repartidor: </ion-label>
        <ion-label>{{ pedidoForm.get('nombre_repartidor')?.value }}</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Patente vehículo: </ion-label>
        <ion-label>{{ pedidoForm.get('patente')?.value }}</ion-label>
      </ion-item>
    </ion-list>
  </form>

  <ion-label>Ubicacion Repartidor</ion-label>

  <!-- Mapa -->
  <div id="map" style="height: 400px; width: 100%;"></div>

  <!-- Botón para actualizar el estado a 'Entregado' -->
  <ion-button 
    expand="block"  
    (click)="actualizarPedido1()" 
    *ngIf="rol === 'repartidor'">
    Entregado
  </ion-button>
  
  <!-- Botón para actualizar el estado a 'Cancelado' -->
  <ion-button 
    expand="block" 
    (click)="actualizarPedido2()" 
    *ngIf="rol === 'usuario' || rol === 'repartidor'">
    Cancelar
  </ion-button>
</ion-content>
